{{#if resume.skills.length}}
  <div id='skills' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>TECHNICAL SKILLS</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      <ul class='highlights'>
        {{#each resume.skills}}
          <li class="highlight-item">
            <span class='title'>{{name}}:</span>
            {{#if keywords.length}}
              {{#each keywords}}
                  <span>{{.}}</span>{{#unless @last}}<span class="highlight-item-divider"></span>{{/unless}}{{#if @last}}.{{/if}}
              {{/each}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
