
body {
  font-family: "Arial", Helvetica, Arial, sans-serif;
  /* 13px to 15px looks good */
  font-size: 13px;
  /* 1.38, 1.4, or 1.5 looks good */
  line-height: 1.35;
  margin: 0 auto;
}

:root {
  font-family: 'Noto Sans',  sans-serif;
  font-size: medium;

  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
  --syntax-tab-size: 2;
  font-weight: 400;

  /*colors*/
  --pureooze-light-mode-primary: #f2f2f2;
  --pureooze-primary: #26196f;
  --pureooze-primary-for-rgba: 146, 50, 216;
  --pureooze-primary-text: #000;
  --pureooze-secondary-text: white;
  --pureooze-accent: #9232D8FF;
  --pureooze-accent-light: #ac73d8;
  --pureooze-accent-light-mode: #f9f9f9;
  --pureooze-detail: #aaa;
  --pureooze-light-mode-detail: white;
}

#wrapper {
  margin: 0 auto;
  max-width: 800px;
}

/* when generating the resume as a website or as headless, this will keep a nice readable margin in place */
#resume {
  margin: 0.4in;
}

/* use-case is when a user generates their resume as a website, saves their website as a PDF, and uses their browser to manage the margins during save */
@media print {
  #resume {
    margin: 0;
  }
}

ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 2px;
}

a {
  color: black;
  /* it's less likely someone will click the links; removing underline to reduce noise */
  text-decoration: none;
}

.display-none {
  /* note: this is to enable any automated parsing of content */
  display: none;
}

.basics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.basics>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

#basics-center-content {
  text-align: center;
  font-size: 30px;
}

#basics-right-content {
  text-align: right;
  font-size: 13px;
}

.basics .divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.section-block {
  display: block;
  width: 100%;
}

.section-name {
  color: var(--pureooze-primary);
  display: block;
  font-weight: bold;
}

.section-line {
  border-color: none;
  border-style: hidden;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.section-intro-line {
  border-color: var(--pureooze-primary);
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#work-block .block-header,
#volunteer .block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#work-block .block-header>*,
#volunteer .block-header>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

.block-header .date {
  font-weight: bold;
  text-align: right;
}

.block-header .organization {
  font-weight: bold;
  text-align: center;
}

.block-header .title {
  font-weight: bold;
  text-align: left;
}

.section-content {
  display: block;
}

.section-content ul {
  padding-left: 20px;
  margin-top: 3px;
  list-style-type: circle;
}

.section-content .title {
  font-weight: bold;
}

.section-content .date {
  float: right;
}

.section-content .separator {
  height: 7px;
}

.summary {
  margin-top: 6px;
}

.job-block {
  page-break-inside: avoid;
}

.project {
  padding-bottom: 5px;
}